
<% if @fb_info
 fb_new_tutor = JSON.parse(@fb_info)
 fb_email = fb_new_tutor["email"]
 fb_name = fb_new_tutor["name"]
else
  fb_email = ""
  fb_name = ""
end %>

<%= form_for(@tutor) do |f| %>
  <% if @tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

      <ul>
      <% @tutor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :value => "#{fb_name}" %>
  </div>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :value => "#{fb_email}" %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :picurl %>
    <%= f.text_field :picurl %>
  </div>
  <div class="field">
    <%= f.label :rate %>
    <%= f.number_field :rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
