<p id="notice"><%= notice %></p>

<a href="/welcome/results?q=<%= session[:q] %>">Go back to results</a>

<h1>Full Profile for <%= @tutor.name %> </h1>

<table border="1">
  <strong><th>Picture</th></strong>
  <strong><th>Rate</th></strong>
  <strong><th>Location</th></strong>
  <strong><th>Bio</th></strong>

  <tr>
    <td><%= image_tag @tutor.avatar, width: '100' %>
      <br><%= link_to "Contact me!", new_message_path(:tutor_id =>@tutor.id ) %></td>
    <td><%= number_to_currency(@tutor.rate) %></td>
    <td><%= @tutor.city %></td>
    <td><%= @tutor.bio %></td>
  </tr>
</table>

<p>
  <strong>All Areas of Expertise:</strong><Br>
  <% @subjects.each do |subject| %>
    <%= subject.expertise %><br>
    <% end %>
</p>

<p>
  <strong>Reviews</strong>

    <% unless @ratings.empty? %>

    <table border="1">
      <strong><th>Reviewer</th></strong>
      <strong><th>Says</th></strong>
      <strong><th>Number of Pencils</th></strong>

      <tr>
        <% @ratings.each do |rating| %>
        <td><%= rating.name_of_reviewer %></td>
        <td><%= rating.review %></td>
        <td><%= rating.pencils %></td>
      </tr>
      <% end %>
    </table>

    <% else %><br>
    <%= "No ratings yet." %>
    <% end %>
</p>

<strong>Add a Review</strong> <Br>
  <%= form_for(@rating) do |f| %>
    <% if @rating.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

        <ul>
        <% @rating.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <%= f.label "your name" %><br>
      <%= f.text_field :name_of_reviewer %>
    </div>
      <div class="field">
      <%= f.label "Your comments:" %><br>
      <%= f.text_field :review, size: 50 %>
    </div>
    <div class="field">
      <%= f.label "Number of Pencils (max 5)" %><br>
      <%= f.number_field :pencils %>
    </div>
    <div class="field">
      <%= f.hidden_field :tutor_id, value: @tutor.id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
