

<p id="notice"><%= notice %></p>
<table>
  <tr>
    <td style="padding:0 25px 0 25px;">

<a style="color:#8c8c8c;" href="/welcome/results?q=<%= session[:q] %>">Back to Results</a>

<img src="/assets/back.png">


<h1>Full Profile for <%= @tutor.name %> </h1>

<table class="pure-table">
  <thead>
  <strong><th>Picture</th></strong>
  <strong><th>Rate/Hr</th></strong>
  <strong><th>Location</th></strong>
  <strong><th>Bio</th></strong>
</thead>

  <tr>
    <td><%= image_tag @tutor.picurl, width: '100' %>
      <br><%= link_to "Contact me!", new_message_path(:tutor_id =>@tutor.id ) %></td>
    <td><%= number_to_currency(@tutor.rate) %></td>
    <td><%= @tutor.city %></td>
    <td><%= @tutor.bio %></td>
  </tr>
</table>

<p>
  <strong>All Areas of Expertise:</strong><Br>
  <% @subjects.each do |subject| %>
    <%= subject.expertise %><br>
    <% end %>
</p>

<p>
  <strong id="ratings_headline">Reviews:</strong>

    <% unless @ratings.empty? %>


    <table id="ratings_table" class="pure-table pure-table-bordered">
    <thead>
      <strong><th>Student</th></strong>
      <strong><th>Review</th></strong>
      <strong><th># of Pencils</th></strong>
    </thead>

      <tr>
        <% @ratings.each do |rating| %>
        <td><%= rating.name_of_reviewer %></td>
        <td><%= rating.review %></td>
        <td><%= rating.pencils %></td>
      </tr>
      <% end %>
    </table>

    <% else %><br>
    <span id="noratings"><%= "No ratings yet." %></span>
    <% end %>
</p>

<strong>Add a Review</strong> <Br>
  <table border="4">
  <%= form_for(@rating, remote: true, :html=>{:class => 'pure-form'}) do |f| %>
    <% if @rating.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

        <ul>
        <% @rating.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "your name" %><br>
      <%= f.text_field :name_of_reviewer, size: 50 %>
    </div>
      <div class="field">
      <%= f.label "Your comments:" %><br>
      <%= f.text_field :review, size: 50 %>
    </div>
    <div class="field">
      <%= f.label "Number of Pencils (max 5)" %><br>
      <%= f.number_field :pencils %>
    </div>
    <div class="field">
      <%= f.hidden_field :tutor_id, value: @tutor.id %>
    </div>
    <div class="actions">
      <%= f.submit "Submit Your Review" %>
    </div>
  <% end %>
  </table>

</td>
</tr>
</table>
