<p id="notice"><%= notice %></p>

<a href="/welcome/results?q=<%= session[:q] %>">Go back to results</a>

<h1>Full Profile for <%= @tutor.name %> </h1>

<table border="1">
  <strong><th>Picture</th></strong>
  <strong><th>Rate</th></strong>
  <strong><th>Location</th></strong>
  <strong><th>Bio</th></strong>

  <tr>
    <td><%= image_tag @tutor.picurl, width: '100' %></td>
    <td><%= number_to_currency(@tutor.rate) %></td>
    <td><%= @tutor.city %></td>
    <td><%= @tutor.bio %></td>
  </tr>
</table>

<p>
  <strong>All Areas of Expertise:</strong><Br>
  <% @subjects.each do |subject| %>
    <%= subject.expertise %><br>
    <% end %>
</p>

<p>
  <strong>Reviews</strong><Br>
  <% @ratings.each do |rating| %>
    Comment: <%= rating.review %><br>
    Stars: <%= rating.pencils %>/5<br>
    - <%= rating.name_of_reviewer %><br><br>
  <% end %>
</p>
