<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tutor.name %>
</p>

<p>
  <strong>ID:</strong>
  <%= @tutor.id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @tutor.username %>
</p>

<p>
  <strong>City:</strong>
  <%= @tutor.city %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @tutor.bio %>
</p>

<p>
  <strong>Picurl:</strong>
  <%= image_tag @tutor.picurl, width: '200' %>
</p>

<p>
  <strong>Rate:</strong>
  <%= number_to_currency(@tutor.rate) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tutor.email %>
</p>

<p>
  <strong>Areas of Expertise:</strong><Br>
  <% @subjects.each do |subject| %>
    <%= subject.expertise %><br>
    <% end %>
</p>

<p>
  <strong>Reviews</strong><Br>
  <% @ratings.each do |rating| %>
    Comment: <%= rating.review %><br>
    Number of Stars: <%= rating.pencils %>/5<br>
    Student: <%= rating.name_of_reviewer %><br><br>
  <% end %>
</p>
