<p id="notice"><%= notice %></p>

<a href="/welcome/results?q=<%= session[:q] %>">Go back to results</a><br>
<%= link_to "Contact me!", new_message_path(:tutor_id =>@tutor.id ) %></td>

<h1>Full Profile for <%= @tutor.name %> </h1>

<table class="pure-table">
  <thead>
  <strong><th>Picture</th></strong>
  <strong><th>Rate</th></strong>
  <strong><th>Location</th></strong>
  <strong><th>Bio</th></strong>
</thead>

  <tr>
    <td><%= image_tag @tutor.picurl, width: '100' %>
    <td><%= number_to_currency(@tutor.rate) %></td>
    <td><%= @tutor.city %></td>
    <td><%= @tutor.bio %></td>
  </tr>

</table>
  <!-- <br><%= link_to "Contact me!", new_message_path(:tutor_id =>@tutor.id ) %></td> -->
<br>
<br>

<div class="expertise">
  <strong><u>All Areas of Expertise:</u></strong><Br>
  <% @subjects.each do |subject| %>
    <%= subject.expertise %><br>
    <% end %>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="reviewer">

  <% unless @ratings.empty? %>

  <table class="table-minimal">
    <thead>
      <tr>
        <strong><th>Reviewer</th></strong>
        <strong><th>Comment</th></strong>
        <strong><th>Number of Pencils</th></strong>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @ratings.each do |rating| %>
            <td><%= rating.name_of_reviewer %></td>
            <td><%= rating.review %></td>
            <td><%= rating.pencils %></td>
      </tr>
      </tr>
    </tbody>
  </table>

  <% end %>
<!--

  <strong><u>Reviews</u></strong>

<<<<<<< HEAD
=======
<p>
  <strong id="ratings_headline">Reviews:</strong>
>>>>>>> f72013302c969b26b3bdeff88c20279d8a71bfab


<<<<<<< HEAD
    <table border="1">
      <strong><th>Reviewer</th></strong>
      <strong><th>Comment</th></strong>
      <strong><th>Number of Pencils</th></strong>
=======
    <table id="ratings_table" border="0">
      <strong><th style="text-decoration:underline;">Student</th></strong>
      <strong><th style="text-decoration:underline;">Review</th></strong>
      <strong><th style="text-decoration:underline;"># of Pencil</th></strong>
>>>>>>> f72013302c969b26b3bdeff88c20279d8a71bfab

      <tr>
        <% @ratings.each do |rating| %>
        <td><%= rating.name_of_reviewer %></td>
        <td><%= rating.review %></td>
        <td><%= rating.pencils %></td>
      </tr>
      <% end %>
    </table>

    <% else %><br>
    <%= "No ratings yet." %>
    <% end %> -->
</div>

<div class ="reviews">
<strong>Add a Review</strong> <Br>
  <%= form_for(@rating, remote: true, :html=>{:class => 'pure-form'}) do |f| %>
    <% if @rating.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

        <ul>
        <% @rating.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "your name" %><br>
      <%= f.text_field :name_of_reviewer %>
    </div>
      <div class="field">
      <%= f.label "Your comments:" %><br>
      <%= f.text_field :review, size: 50 %>
    </div>
    <div class="field">
      <%= f.label "Number of Pencils (max 5)" %><br>
      <%= f.number_field :pencils %>
    </div>
    <div class="field">
      <%= f.hidden_field :tutor_id, value: @tutor.id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
