<h1>Welcome back, <%= current_tutor.name %></h1>

<h2>Expertise:</h2>
<% his_subjects = "" %>
<% current_tutor.subjects.each do |subject| %>
  <% his_subjects << subject.expertise << ", " %>
<% end %>
<%= his_subjects.chomp(', ') %>

<h2>Your Hourly Rate:</h2>
<%= number_to_currency(current_tutor.rate) %>


<h2>Messages:</h2>
<table border="1">
  <strong><th>Student</th></strong>
  <strong><th>Student's Email</th></strong>
  <strong><th>Message Body</th></strong>
<% @messages.each do |message|  %>
  <tr>
    <td><%= message.from %></td>
    <td><a href="mailto:<%= message.email %>"><%= message.email %></a></td>
    <td><%= message.body %></td>
  </tr>
<% end %>
</table>

<h2>Edit Your Profile:</h2>
<%= link_to "link not working yet", "#" %>
