
<%= flash[:tutor_created] %>
<!--
<h1 id="baz">Welcome to TutorED (v1.0)!</h1>

<h3 id="bar">What subject do you want to learn?</h3>
<%= form_tag("/welcome/results", method: "get") do %>
  <%= text_field_tag :q, "Search" %>
  <%= submit_tag("Search") %>
<% end %>

<h3>Some subjects to consider: </h3>
<% @subjects.each do |subject| %>
  <a href="/welcome/results?q=<%= subject.expertise %>"><%= subject.expertise %></a>&nbsp;
<% end %>



<div class="parallax-container">
   <div class="parallax"><img src="https://images.unsplash.com/photo-1447968954315-3f0c44f7313c?dpr=2&fit=crop&fm=jpg&h=850&ixjsv=2.0.0&ixlib=rb-0.3.5&q=50&w=1450">
</div> -->



<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">

<!-- SEARCH BAR -->
<div class="search-background">
  <div class="search">
    <!-- <h3>What subject do you want to learn?</h3> -->
    <%= form_tag("/welcome/results", method: "get") do %>
      <%= text_field_tag :q, "Search for a Tutor" %>
      <%= submit_tag("Search") %>
    <% end %>
</div>

  <div class="subjects">

<h3>Subjects to consider: </h3>
<% @subjects.each do |subject| %>
  <a href="/welcome/results?q=<%= subject.expertise %>" class="popular"><%= subject.expertise %></a>&nbsp;
<% end %>
</div>
</div>

 </div>
<div id="js-parallax-background" class="parallax-background"></div>
</div>

<!--LOGO-->
<div class="crest">
  <img src="http://i71.photobucket.com/albums/i158/Mary_Gualtieri/tutrd_crest_zpst0bjfzue.jpg" border="0" alt=" photo tutrd_crest_zpst0bjfzue.jpg" id="crest"/></a>
</div>
<!-- ABOUT US -->
<div class="about">

  <h3><u>Who is TUTRD?</u></h3>
  <p>TUTRD is an application that solves this problem by quickly, easily and efficiently connecting tutors and students based on location, subject, availability, price range and reviews. We effectivity cut out the middle man, saving the student thousands and effectively raising tutor pay creating a symbiotic relationship between student and tutor happiness.</p>

</div>


<div class="video">
  <div class="video-wrapper">


  <iframe src="https://player.vimeo.com/video/146690941" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/146690941"></a></p>


    </div>
  </div>

im here!!!!


<!--Services-->
<div class="services">
  <h1>Testimonials:</h1>
  <div class="cards">
    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
      </div>
      <div class="card-header">
        First Card
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
      </div>
      <div class="card-header">
        Another Card
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
      </div>
      <div class="card-header">
        The Last Card
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>

      </div>
</div>
