

<!-- SEARCH BAR -->
<div class="search-background">
  <div class="search">
    <!-- <h3>What subject do you want to learn?</h3> -->
    <%= form_tag("/welcome/results", method: "get") do %>
      <%= text_field_tag :q, "Search for a Tutor" %>
      <%= submit_tag("Search") %>
    <% end %>
</div>

  <div class="subjects">

<h3>Subjects to consider: </h3>
<% @subjects.each do |subject| %>
  <a href="/welcome/results?q=<%= subject.expertise %>" class="popular"><%= subject.expertise %></a>&nbsp;
<% end %>
</div>
</div>


<!-- ABOUT US -->
<div class="about">
  <h3><u>Who is Tutrd?</u></h3>
  <p>Tutrd connects Tutors and Students in unique way.</p>

</div>

<div class="video">
  ADD VIDEO HERE!!!
</div>





<!--Services-->
<div class="services">
  <h1>Our Services:</h1>
  <div class="flex-container">
        <div class = "list-services" >
          <img src="https://cdn2.iconfinder.com/data/icons/medicine-7/512/card_reader-2-128.png" alt="payment" class="payment">
          <li>Payment Processing</li>
        </div>

        <div class="list-services">
          <img src="https://cdn1.iconfinder.com/data/icons/education-set-02/512/finduser-512.png" atl="tutor-search" class="tutor-search" >
          <li>Comprehensive Tutor Search</li>
        </div>
      </div>
</div>

<!--Footer-->
<div class="footer">
  <p>Copyright &copy; Tutrd, LLC</p>
  
  <div>
