
<%= flash[:tutor_created] %>
<%= flash[:search_empty] %>
<%= flash[:not_logged_in] %>


<div id="main_search">
<h1 id="baz">Welcome to TutorED (v1.0)!</h1>

<h3 id="bar">What subject do you want to learn?</h3>
<%= form_tag("/welcome/results", method: "get") do %>
  <%= text_field_tag :q, "Search" %>
  <%= submit_tag("Search") %>
<% end %>

<h3>Some subjects to consider: </h3>
<div id="suggestions">
<% @subjects.each do |subject| %>
  <a href="/welcome/results?q=<%= subject.expertise %>"><%= subject.expertise %></a>&nbsp;
<% end %>
</div>
</div>


<div id="moo" style="padding-left:25px;padding-top:5px;">

</div>


<div id="foo">
</div>






<script type="text/javascript">
 $(function() {

  $("#suggestions a:first").mouseover(function() {

      $.ajax({
        url: "/welcome/results",
        data: {
          q: "calculus"
        },
        success: function( data ) {
            var filtered = $(data).filter("#tutor_search_results").prepend("<br>");
            $( "#foo" ).html( filtered );
        }
      });

      $.ajax({
        url: "/welcome/count_tutors",
        data: {
          s: "calculus"
        },
        success: function( data ) {
            $( "#moo" ).html( data + " tutor(s) found:" );
        }
      });
    });



    $("#suggestions a:nth-child(2)").mouseover(function() {


        $.ajax({
          url: "/welcome/results",
          data: {
            q: "music"
          },
          success: function( data ) {
            var filtered = $(data).filter("#tutor_search_results").prepend("<br>");

            $( "#foo" ).html( filtered );
          }
        });

      $.ajax({
        url: "/welcome/count_tutors",
        data: {
          s: "music"
        },
        success: function( data ) {
            $( "#moo" ).html( data + " tutor(s) found:" );
        }
      });
    });


      $("#suggestions a:nth-child(3)").mouseover(function() {


          $.ajax({
            url: "/welcome/results",
            data: {
              q: "physics"
            },
            success: function( data ) {
              var filtered = $(data).filter("#tutor_search_results").prepend("<br>");
              $( "#foo" ).html( filtered );
            }
          });

          $.ajax({
            url: "/welcome/count_tutors",
            data: {
              s: "physics"
            },
            success: function( data ) {
                $( "#moo" ).html( data + " tutor(s) found:" );
            }
          });
        });




 });
</script>


<!-- var as = $('a').filter(function(){
     return !$(this).attr('href');
});

alert(as.length); -->


<!-- <script type="text/javascript">
$(document).on("ready page:load", function(){
  alert('yo');
});
</script> -->
