
<%# test for any subjects found in database %>
<% if @subjects.empty? %>
<%= "No tutors found (subject also not found)." %>
<% end %>


  <%# a valid search was entered. Either show results or nothing found msg %>
  <%# test for no results first %>
    <% @subjects.each do |subject| %>

      <% if subject.tutors.empty? %>
       <%= "No tutors found at the moment.  Normally, we do teach this subject. " %>

       <% else %>

    <p><%= subject.expertise %> Tutors<br>
      <div id="tutor_search_results">
      <% subject.tutors.each do |tutor| %>
          <table border="0">
            <tr>
              <td style="padding-left:25px;"><%= image_tag tutor.picurl, width:150 %></td>
        <td style="padding-left:25px;">
          <span class="content-subhead"></i><%= tutor.name %></span><br>
          <strong>Location:</strong> <%= tutor.city %><br>
          <strong>Rating:</strong>
           <% num_reviewers = 0 %>
           <% total_stars = 0 %>
           <% tutor.ratings.each do |rating| %>
           <% total_stars += rating.pencils %>
           <% num_reviewers += 1 %>
           <% end %>
               <% if num_reviewers > 0 %>
                <% avg_rating = (total_stars.to_d / num_reviewers.to_d).to_d %>
                <% avg_rating = number_with_precision(avg_rating, precision: 2) %>
                <% avg_rating = avg_rating.to_s + " stars (out of 5)" %>
               <% else %>
                <% avg_rating = "No ratings yet" %>
               <% end %>
           <%= avg_rating %><br>

       <%# define the link for individual tutor %>
       <% tutor_href= "/tutors/"  + tutor.id.to_s %>
       <%# use link_to %>
       <%= link_to "See Full Profile", tutor_href, id: 'tutor_modal' %><br><br>
     </td>
   </tr>
  </table>

       <% end %>
      <% end %>
    <%# Closes Results were found loop  %>
</div>


  <% end %> <%# Closes no results found  %>


<%# set a session variable for search term %>
<%# useful for returning student to this page %>
<% session[:q] = @q %>
