<!DOCTYPE html>
<html>
<head>
  <title>Tutoredtest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", welcome_path %>
<% if current_tutor %>
  | Logged in as tutor <%= current_tutor.name %>
  <%= image_tag current_tutor.picurl, width:30 %>

<% end %>
<span style="color:red;"><% if flash[:not_logged_in] %> | <%= flash[:not_logged_in] %> <% end %></span>

<span style="float:right;">
  <%= link_to "Tutor Register", new_tutor_path %> |
  <%= link_to "Tutor Log In", new_session_path %> |
  <%= link_to "Logout", welcome_logout_path %>

</span>
<hr>


<!--Login-->
<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">Login</div>
    <%= link_to "Tutor Register", new_tutor_path %>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h1>Login</h1>
      <p class="modal-intro"><%= render "sessions/new" %></p>
  </div>
</div>

<!--Create Account-->
<div class="modal">
  <label for="modal-2">
    <div class="modal-trigger">Register</div>
    <%= link_to "Tutor Register", new_tutor_path %>
  </label>
  <input class="modal-state" id="modal-2" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-2"></div>
      <h1>Register</h1>
      <p class="modal-intro"><%= render "sessions/new" %></p>
  </div>
</div>

<%= yield %>

</body>
</html>
