<!DOCTYPE html>
<html>
<head>
  <title>Tutoredtest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"> -->
</head>
<body>
  <%= render "nav" %>

<div class="flex-container">
  <header>
    <img src="http://i71.photobucket.com/albums/i158/Mary_Gualtieri/tutrd6_zpssgq3lx4w.jpg" border="0" alt=" photo tutrd6_zpssgq3lx4w.jpg"/></a>
  </header>
</div>

<div class="menu">
  <!--Login-->

  <div class="modal" id="login-modal">
    <label for="modal-1">
      <div class="modal-trigger">Login</div>
    </label>
    <input class="modal-state" id="modal-1" type="checkbox" />
    <div class="modal-fade-screen js-modal-1-close">
      <div class="modal-inner">
        <div class="modal-close js-modal-1-close" for="modal-1"></div>
        <h1>Login</h1>
        <p class="modal-intro">
          <%= render "sessions/new" %>
        </p>
      </div>
    </div>
  </div>

  <!--Create Account-->


  <%= render partial: "tutors/tutor_registration", locals: {tutor: @tutor } %>
</div>



<%= yield %>
<!--Footer-->
<div class="footer">
  <p>Copyright &copy; Tutrd, LLC.</p>
  <div>



</body>
</html>
