<!DOCTYPE html>
<html>
<head>
  <title>Tutoredtest</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>
<body>

<span style="color:red;"><% if flash[:not_logged_in] %> | <%= flash[:not_logged_in] %> <% end %></span>

<div class="flex-container">
  <header>
    <img src="http://i71.photobucket.com/albums/i158/Mary_Gualtieri/tutrd6_zpssgq3lx4w.jpg" border="0" alt=" photo tutrd6_zpssgq3lx4w.jpg"/></a>
  </header>
</div>


<div id="nav-wrap">
    <ul class="navbar split">
      <li><span><%= link_to "Home", welcome_path %>
      <% if current_tutor %>
        | Logged in as tutor <%= current_tutor.name %>
        <%= image_tag current_tutor.picurl, width:30 %>

      <% end %></span></li>
          <li><span>  <%= link_to "Logout", welcome_logout_path %></li>
                  <li><span>  <%= link_to "Tutor Log In", new_session_path %></li>
      <li><span>  <%= link_to "Tutor Register", new_tutor_path %> </span></li>



      </ul>
  </div>





<%= yield %>


<!--Footer-->
<div class="footer">
  <p>Copyright &copy; Tutrd, LLC.</p>
  <div>

</body>
</html>
