<!DOCTYPE html>
<html>
<head>
  <title>Tutoredtest</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
<%= link_to "Home", welcome_path %>
<span style="color:red;"><% if flash[:not_logged_in] %> | <%= flash[:not_logged_in] %> <% end %></span>

<span style="float:right;">
  <% if !current_tutor %>
    <%= link_to "Register", new_tutor_path %> |
    <%= link_to "Log In", new_session_path %> &nbsp;&nbsp;&nbsp;
<% end %>

<% if current_tutor %>
  <%= link_to "Logout", welcome_logout_path %>&nbsp;&nbsp;&nbsp;</span>
<% end %>

</div>


<%= yield %>

</body>
</html>
